.footer {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	padding: 0 3rem;

	&__content {
		border-top: 1px solid $color-grey-light;
		flex: 1 1 100%;
		padding: 2rem;
	}

	&__copyright {
		color: $color-grey;
		font-size: 1.3rem;
	}
}
