.nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $color-secondary;
	width: 100%;
	padding: 2rem;
	&__logo {
		font-size: 3rem;
		font-family: RuffleScript;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
	}

	&__link {
		margin: 0 2rem;
		font-size: 1.5rem;
		color: inherit;

		&:visited {
			color: inherit;
		}
	}
}

.nav.fixed {
	background-color: $color-white;
	z-index: 9999;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.5s;
	padding: 0 2rem;
}
.nav.top {
	background-color: none;
	z-index: 9999;
	transition: all 0.5s;
	padding: 2rem;

	@include respond(tab-land) {
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 9999;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		transition: all 0.5s;
		padding: 0 2rem;
	}
}
