.landing {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent),
		url("/static/images/gene-taylor-362630-unsplash.jpg");
	background-size: cover;
	height: 120vh;
	width: 100vw;
	top: -85px;
	left: 0;
	z-index: -1;
	margin-bottom: 0;

	&__text-box {
		color: $color-secondary;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

.section {
	&-info {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
		margin-top: 0;

		&__video {
			display: flex;
			justify-content: space-around;
			&-player {
				width: 50%;
			}
		}

		&__text {
			padding: 10rem 33rem;
			text-align: center;
		}
	}

	&-benefits {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include respond(phone) {
			flex-direction: column;
			padding: 3rem;
		}

		&__card {
			margin: 5rem;
			padding: 3rem;

			&-title {
				font-size: 1.6rem;
				color: $color-grey;
			}

			&-text {
				font-size: 1.5rem;
				color: $color-grey;
			}
		}
	}
	&-activities {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__content {
			display: flex;
			justify-content: space-around;
			@include respond(phone) {
				flex-direction: column;
			}
		}
	}
	&-social {
		&__media {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&-icons {
				display: flex;
				justify-content: space-between;
				&-link {
					margin: 2rem;
				}
			}
		}
	}
}
